<section class="hero-section" style="background-image: url('{{ .Get "image" | relURL }}');">
    <div class="hero-overlay">
        <div class="hero-content">
            <div class="hero-emblem-container">
                <img src="{{ .Get "emblem" | relURL }}" alt="Practice Emblem" class="hero-emblem">
            </div>
            <h1 class="hero-title">{{ .Get "title" }}</h1>
            <div class="hero-actions">
                <a href="{{ .Get "buttonLink" }}" class="hero-button" target="_blank">{{ .Get "buttonText" }}</a>
            </div>
        </div>
    </div>
</section>
